@import "../variable";

.header {
  height: $header-height;
  left: 0;
  position: relative;
  right: 0;
  z-index: 50;
}

/* ------------------------
  Header Navigation Menu
------------------------ */
.header-wrap {
  height: $header-height;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
}

.header-logo img {
  max-height: 35px;
  position: relative;
}

@media only screen and (min-width: $media-medium) {
  .header-navigation {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    visibility: visible;
    margin-left: 48px;
  }
}

.header-navigation {
  margin-left: 48px;
  display: inline-block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow-y: auto;
  vertical-align: top;
  -webkit-transition: margin .2s, width .2s, -webkit-box-flex .2s;
  transition: flex .2s, margin .2s, width .2s, -webkit-box-flex .2s, -ms-flex .2s;
}

.header-navigation-wrap {
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.u-unstyled {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 50px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.nav-toggle:before {
  /* Edit this to change the icon color */
  color: $fc-color;
  /* Edit font-size (28px) to change the icon size */
  font: normal 55px/55px "responsivenav";
  text-transform: none;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  /* Hamburger icon */
  content: "\2261";
  text-indent: 0;
  speak: none;
  width: 100%;
}

/* This is how it looks on mobile */
.header-hide {
  display: block;
  visibility: visible;
}

.header-show {
  display: none;
  visibility: hidden;
}

// To Open header menu - When Media-small size
@media screen and (max-width: $media-small) {
  .header-hide {
    display: none;
    visibility: hidden;
  }

  .header-show {
    text-align: right;
    display: block;
    visibility: visible;
  }
}

.header-navigation .navigation-link {
  border-bottom: 2px solid transparent;
  font-weight: 300;
  margin: 0;
  padding: 0 30px;
  -webkit-transition: color .2s;
  transition: color .2s;
  font-size: 15px;
  cursor: pointer;
}

.router-link-active {
  font-weight: 500;
  color: $fc-color;
}

.header a {
  align-items: center;
  color: $sub-fc-color;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  &:hover {
    color: $sub-fc-color-hover;
    font-weight: bold;
  }
}


/* ------------------------
  Local Custom Class CSS
------------------------ */
.header-shadow-box {
  box-shadow: -10px -10px 10px 10px $gray;
}
