.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
out

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

!/build.gradle

# Application Properties
!/.DS_Store
/backend-content/src/main/resources/application.properties
/backend-user/src/main/resourc